<% title @news_cate.name %>
<% meta_keywords @news_cate.name %>
<% nav_bar [['首页', '/'],['新闻中心', '/news_items'],[@news_cate.name, '/news_cates/'+ @news_cate.id.to_s]] %>
<% side_news @news_cate.name %>
<% side_nav @news_cate.name, 'news' %>


<h1>
  <%= @news_cate.name %>
</h1>

<div id="news_cate" class="news_list corner_box">
  <div class="news_list">
      <ul>
      <% @news_items.each do |news_item| %>
        <li>
        <h2 style="margin:20px 0 0 0;"><%= link_to news_item.title, news_item_path(news_item) %></h2>
        
        <div class="news_content">
          <%= strip_tags(news_item.body.gsub(/&nbsp;/, '')).truncate(120) %>
          <%= link_to ">>>查看详细", news_item_path(news_item) %>
        </div>
        </li>
      <% end %>
      </ul>
  </div>
  <br />

  <%= will_paginate @news_items %>
</div>

