<% title @news_cate.name %>
<% meta_keywords @news_cate.name %>
<% nav_bar [['首页', '/'],['新闻中心', '/news_items'],[@news_cate.name, '/news_cates/'+ @news_cate.id.to_s]] %>
<% side_news @news_cate.name %>
<% side_nav @news_cate.name, 'news' %>

<div id="news_item" class="corner_box">
  <h1>
    <%= @news_cate.name %>
  </h1>
  <br/>
  <hr class="black"/>

  <div class="news_list">
      <% @news_items.each do |news_item| %>
        <h3 style="margin:0; padding: 0;"><%= link_to news_item.title, news_item_path(news_item), :style => "color: #cc0000;" %></h3>
        <div style="margin:0; padding: 0 0 20px 12px;">
          <%= strip_tags(news_item.body.gsub(/&nbsp;/, '')).truncate(120) %>
          <%= link_to ">>>查看详细", news_item_path(news_item) %>
        </div>
      <% end %>
  </div>
  <br />

  <%= will_paginate @news_items %>
</div>

