<div id="index_banner">
   <p class="big_font"><a href="javascript:void(0);"></a></p>
   <table width="960" border="0" cellspacing="0" cellpadding="0">
      <tr>
          <td width="100" align="center"><%=image_tag asset_path("tou/221.jpg"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">提供来自欧美先进、专业、健康、环保的洗涤服务，享受品质生活。</p>
            <p class="mid_desc">您的净界就是我们的追求！</p>
          </td>
          <td width="100" align="center"><%=image_tag asset_path("tou/222.jpg"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">多年多种成功的单店经营管理模式令您加盟无忧！</p>
            <p class="mid_desc">您的成功就是我们的目标！</p></td>
          <td width="100" align="center"><%=image_tag asset_path("tou/223.jpg"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">诚信沟通、持续扶持、共同成长。<br/></p>
            <p class="mid_desc"><br/>您的满意就是我们的快乐！</p></td>
          <td width="100" align="center"><%=image_tag asset_path("tou/224.jpg"), :width => '95' %></td>
          <td width="120" align="left" valign="top">
            <p class="mid_title">我们接受来自顾客，<br/>加盟店主的批评与建议。<br/></p><p class="mid_desc"><br/>您的建议<br/>就是我们的财富！</p></td>
      </tr>
  </table>
  <%#image_tag asset_path("index_banner.png"), :width => '960' %>
  <div class = "border_black_1_img" style="margin-top: 10px;">&nbsp;</div>
  <div id="banner_english2" style="margin-bottom: -6px;">
   <%=link_to image_tag(asset_path("index_en.png")), "/pages/ensure:after_sale_service", :target => '_blank' %>
  </div>
</div>