<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="30%" height="62">&nbsp;</td>
    <td width="41%">&nbsp;</td>
    <td width="29%">&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td><%=image_tag asset_path("logo.jpg"), :height =>"89", :alt => "欧美龙洗衣连锁" %></td>
    <td><table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td height="34" align="right">
        <span class="font_gray"><a href="/">首页</a>&nbsp;&nbsp;<a href="/">网站地图</a></span>
        </td>
      </tr>
      <tr>
        <td align="right">
         <%=render :partial => "layouts/search_form" %>
        </td>
      </tr>
      <tr>
        <td align="right">
         <a href="/" class="white_a">&nbsp;&nbsp;会员登录</a>&nbsp;&nbsp;<a href="/" class="white_a">&nbsp;&nbsp;我要注册</a>&nbsp;&nbsp;<a href="/" class="white_a">联系我们</a>
        </td>
      </tr>
    </table></td>
  </tr>
  <tr>
    <td height="61">&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>
    <table width="90%" border="0" cellspacing="0" cellpadding="0" class="write">
  <tr>
    <td height="44">&nbsp;</td>
    <td><a class="top_menu_link" href="/pages">关于欧美龙</a></td>
    <td><%=image_tag asset_path("1_05.jpg") %></td>
    <td><a class="top_menu_link" href="/pages/join:join_standard">加盟政策</a></td>
    <td><%=image_tag asset_path("1_05.jpg") %></td>
    <td><a class="top_menu_link" href="/pages/ensure">保障体系</a></td>
    <td><%=image_tag asset_path("1_05.jpg") %></td>
    <td><a class="top_menu_link" href="/shops">加盟店分布</a></td>
    <td><%=image_tag asset_path("1_05.jpg") %></td>
    <td><a class="top_menu_link" href="/pages/product">产品中心</a></td>
    <td><%=image_tag asset_path("1_05.jpg") %></td>
    <td><a class="top_menu_link" href="/pages/customer">我要洗衣</a></td>
    <td>&nbsp;</td>
  </tr>
</table>