<!-- see: http://citrus.github.com/jquery.sliders/-->
<style type="text/css">
      #slideshow {
        width: 640px;
        height: 385px;
        border: 1px solid #ccc;
      }
      #slideshow img {
        display: block;
        width: 640px;
        height: 385px;
      }      
      .slideshow-controls {
        margin: 0.5em 0;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      }
      .slideshow-controls a,
      .slideshow-controls span {
        display: inline-block;
        padding: 3px 5px;
        background-color: #eee;
        border: 1px solid #e0e0e0;
        border-radius: 3px;
        font-size: 12px;
      }
      .slideshow-controls span {
        float: right;
      }
      .slideshow-controls a:hover {
        background-color: #efefef;
        color: #111;
      }
      .slideshow-controls a.selected {
        color: #000;
      }
    </style>
    
    <script type="text/javascript">
    
      $(document).ready(function(evt) {
        
        $('#slideshow').sliders({ delay: 2500, speed: 500 });
        $('a.slideshow-slide:first').addClass('selected')
        
        function update(index, status) {
          var text = status == "paused" ? "play" : "pause";
          $('#play-pause').removeClass('play pause').addClass(text).text(text);
          $('#status i').text(status + ', slide: ' + (index + 1));
        }
                
        $('.slideshow-controls a.slideshow-slide').click(function(evt) {
          evt.preventDefault();
          var i = parseInt($(this).attr('href').replace('#', '')) - 1;
          $('#slideshow').sliders('goto', i);
        });
        
        $('#slideshow-previous, #slideshow-next').click(function(evt) {
          evt.preventDefault();
          $('#slideshow').sliders($(this).attr('href').replace('#', ''));
        });
      
        $('#play-pause').click(function(evt) {
          evt.preventDefault();
          var cmd = this.className;
          $('#slideshow').sliders(cmd)
        });
                
        $('#slideshow').change(function(evt, index, status) {
          $('a.slideshow-slide').removeClass('selected').filter(function(i, element) {
            return index == i;
          }).addClass('selected');
          update(index, status);
        });
        
        $('#slideshow').bind('play', function(evt, index, status) {
          update(index, status);
        });
        
        $('#slideshow').bind('pause', function(evt, index, status) {
          update(index, status);
        });
        
      });

    </script>

<div id="slideshow" style="position: relative; display: block; overflow-x: hidden; overflow-y: hidden; ">
	<div class="slider" style="display: block; position: absolute; top: 0px; width: 3200px; height: 385px; left: 0px; ">
		<img alt="Photo 1" src="<%=asset_path("slider/1.jpg")%>" style="display: block; position: absolute; top: 0px; width: 640px; opacity: 1; left: 0px; z-index: 5; ">
		<img alt="Photo 2" src="<%=asset_path("slider/2.jpg")%>" style="display: block; position: absolute; top: 0px; width: 640px; opacity: 1; left: 640px; z-index: 4; ">
		<img alt="Photo 3" src="<%=asset_path("slider/3.jpg")%>" style="display: block; position: absolute; top: 0px; width: 640px; opacity: 1; left: 1280px; z-index: 3; ">
		<img alt="Photo 4" src="<%=asset_path("slider/4.jpg")%>" style="display: block; position: absolute; top: 0px; width: 640px; opacity: 1; left: 1920px; z-index: 2; ">
		<img alt="Photo 5" src="<%=asset_path("slider/5.jpg")%>" style="display: block; position: absolute; top: 0px; width: 640px; opacity: 1; left: 1560px; z-index: 1; ">
	</div></div>

	<div class="slideshow-controls">
		<a href="http://citrus.github.com/jquery.sliders/#previous" id="slideshow-previous" name="slideshow-previous">&#171;</a>
		<a href="#1" class="slideshow-slide selected">1</a>
		<a href="#2" class="slideshow-slide">2</a>
		<a href="#3" class="slideshow-slide">3</a>
		<a href="#4" class="slideshow-slide">4</a>
		<a href="#5" class="slideshow-slide">5</a>
		<a href="#next" id="slideshow-next" name="slideshow-next">&#187;</a>
		<a href="#play-pause" class="pause" id="play-pause">pause</a>
		<span id="status">status: <i>playing, slide: 1</i></span>
	</div>
</div>    


<div id="exfm_on_page" class="exfm_invisible" style="display: none; ">{"EXFM_HAS_BG_AUDIO":true}</div><div id="exfm_on_page" class="exfm_invisible"></div></body></html>