<!DOCTYPE html> 
<html> 
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
  <meta http-equiv="Content-Language" content="zh-cn" />
  <meta name="robots" content="all" />
  <meta name="author" content="omero" />
  <meta name="Copyright" content="Omero Lcd, All Rights Reserved." />
  <title>欧美龙 - <%= yield(:title) || '最专业的洗涤连锁加盟服务商' %></title>
  <meta name="keywords" content="<%= yield(:meta_keywords) || '加盟,创业,洗衣加盟店,创业加盟,连锁,连锁加盟,招商,干洗,干洗机,干洗店设备,洗衣店设备,干洗店加盟连锁,洗衣店加盟连锁'%>" />
  <meta name="description" content="<%= yield(:meta_description) || '欧美龙洗衣连锁为国际品牌,继承国际先进干洗设备和管理模式,成为目前中国最高端的干洗连锁加盟集团企业！全国加盟分店覆盖23个省市，覆盖互联网加盟干洗连锁创业项目人群的80%'%>" />
    
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript">

    </script>

</head> 
 
<body> 
<!-- skip link navigation -->
<ul id="skiplinks">
  <li><a class="skip" href="#nav">跳过导航</a></li>
  <li><a class="skip" href="#col3">跳过内容.</a></li>
</ul>

<div id="top_banner" role="banner">
  <div class="page_margins">
    <div class="page">
      <center><%=image_tag "top_banner.jpg", :width=>"100%" %></center>
    </div>
  </div>
</div>

<div id="header" role="banner">
  <div class="page_margins">
    <div class="page">
      <div id="topnav" role="contentinfo">
        <span><%= render 'devise/menu/registration_items' %>&nbsp;&nbsp;|&nbsp;&nbsp;<%= render 'devise/menu/login_items' %>
         &nbsp;&nbsp;|&nbsp;&nbsp; <a href="#">联系我们</a></span>
      </div>

        <div id="col1" role="complementary">
        <div id="col1_content" class="clearfix">
          <%=image_tag asset_path("logo.jpg") %>
        </div></div>
        <div id="col3" role="complementary">
        <div id="col3_content" class="clearfix">
          <%= render :partial => "/layouts/nav"%>
        </div></div>
    </div>
  </div>
</div>
<!-- end: main navigation -->
<!-- begin: main content area #main -->
<div id="main">
  <div class="page_margins">
    <div class="page">
      <!-- begin: #col1 - first float column -->
      <div id="col1" role="complementary">
        <div id="col1_content" class="clearfix">
          <% if notice %><p class="notice"><%= notice %></p><% end %>
            <% if alert %><p class="alert"><%= alert %></p><% end %>
            <%= yield %>
        </div>
      </div>
      <!-- end: #col1 -->
      <!-- begin: #col2 second float column -->
      <div id="col2" role="complementary">
        <div id="col2_content" class="clearfix">
          [side_right]
        </div>
      </div>
      <!-- end: #col2 -->
      <!-- begin: #col3 static column -->
      <div id="col3" role="main">
        <div id="col3_content" class="clearfix">
          Column #col3
Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam malesuada suscipit pede. Nullam ipsum lacus, varius vel, nonummy in, consequat ut, neque. Vivamus viverra. Duis dolor arcu, lacinia sit amet, sollicitudin sed.
        </div>
        <div id="ie_clearing">&nbsp;</div>
        <!-- End: IE Column Clearing -->
      </div>
      <!-- end: #col3 -->
    </div>
  </div>
</div>
<!-- end: #main -->

<!-- begin: #footer -->
<div id="footer" role="contentinfo">
  <div class="page_margins">
    <div class="page">
      [footer]
    </div>
  </div>
</div>
<!-- full skiplink functionality in webkit browsers -->
<script src="../../yaml/core/js/yaml-focusfix.js" type="text/javascript"></script>
</body>
</html>
