<!DOCTYPE html> 
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="robots" content="all" />
<meta name="author" content="omero" />
<meta name="Copyright" content="Omero Lcd, All Rights Reserved." />
<title>欧美龙 - <%= yield(:title) || '最专业的洗涤连锁加盟服务商' %></title>
<meta name="keywords" content="<%= yield(:meta_keywords) || '加盟,创业,洗衣加盟店,创业加盟,连锁,连锁加盟,招商,干洗,干洗机,干洗店设备,洗衣店设备,干洗店加盟连锁,洗衣店加盟连锁'%>" />
<meta name="description" content="<%= yield(:meta_description) || '欧美龙洗衣连锁为国际品牌,继承国际先进干洗设备和管理模式,成为目前中国最高端的干洗连锁加盟集团企业！全国加盟分店覆盖23个省市，覆盖互联网加盟干洗连锁创业项目人群的80%'%>" />
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<!--[if lte IE 7]>
<link href="yaml/patches/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function(){
  // $(".top_banner_flip").mouseover(function(){
  //   $(".top_banner").slideToggle("slow");
  // });

  //corner
  $("div.box").corner();

  //slide show 
  $('#slideshow').sliders({ delay: 2500, speed: 500 });
  $('#slideshow2').sliders({ delay: 4500, speed: 500,ease: 'swing' });
  //一级菜单不kwicks
  $(".kwicks > li").each(function(){
    $(this).hover(function(){
      $(".sub_kwicks > li").hide();
      $("li#sub_"+$(this).attr("id")).fadeIn();
    });
  });
  //use jquery.ae.image.resize plugin to resize img
  $(".content_body img").aeImageResize({ height: 620, width: 620 }); //img show on main body
  $(".item_li img").aeImageResize({ height: 120, width: 120 }); //product image
  //
});
</script>
</head> 
<body class="oneColFixCtrHdr"> 
<div id="container">
 <div id="top">
    <%# image_tag asset_path("1_01.jpg"), :width => "980", :alt => "欧美龙洗衣连锁" %>
  </div>
  <div id="header">
    <%= render :partial => 'layouts/nav' %>
   <!-- end #header --></div>
  <%= yield :banner %>

 <div id="mainContent">
 <div class="twoColFixRt">
   <div id="sidebar1">
   <%= yield :side_bar %><!--for index page-->
   <%= yield :side_nav %><!--for detail page-->
   <%= yield :side_news %><!--for detail page -->
   <!--end #sidebar1 --></div>
   <div id="mainContent">
   <%= yield :nav_bar %>
   <%= yield %>
   <!--end #mainContent --></div>
  <!--end .twoColFixRt --></div>
 <!--end #mainContent --></div>

  <div id="footer">
   <%= render :partial => 'layouts/site_map' %>
  <!--end #footer--></div>
<!--end #container--></div>
</body>
</html>
