<!DOCTYPE html> 
<html> 
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta http-equiv="Content-Language" content="zh-cn" />
<meta name="robots" content="all" />
<meta name="author" content="omero" />
<meta name="Copyright" content="Omero Lcd, All Rights Reserved." />
<title>欧美龙 - <%= yield(:title) || '最专业的洗涤连锁加盟服务商' %></title>
<meta name="keywords" content="<%= yield(:meta_keywords) || '加盟,创业,洗衣加盟店,创业加盟,连锁,连锁加盟,招商,干洗,干洗机,干洗店设备,洗衣店设备,干洗店加盟连锁,洗衣店加盟连锁'%>" />
<meta name="description" content="<%= yield(:meta_description) || '欧美龙洗衣连锁为国际品牌,继承国际先进干洗设备和管理模式,成为目前中国最高端的干洗连锁加盟集团企业！全国加盟分店覆盖23个省市，覆盖互联网加盟干洗连锁创业项目人群的80%'%>" />
<%= stylesheet_link_tag "application" %>
<%= javascript_include_tag "application" %>
<!--[if lte IE 7]>
<link href="yaml/patches/ie6.css" rel="stylesheet" type="text/css" />
<![endif]-->
<%= csrf_meta_tags %>
<script type="text/javascript">
$(document).ready(function(){
  // $(".top_banner_flip").mouseover(function(){
  //   $(".top_banner").slideToggle("slow");
  // });

  //corner
  $("div.box").corner();

  //slide show 
  $('#slideshow').sliders({ delay: 2500, speed: 500 });
  $('#slideshow2').sliders({ delay: 4500, speed: 500,ease: 'swing' });
  //一级菜单不kwicks
  $(".kwicks > li").each(function(){
    $(this).hover(function(){
      $(".sub_kwicks > li").hide();
      $("li#sub_"+$(this).attr("id")).fadeIn();
    });
  });
  //use jquery.ae.image.resize plugin to resize img
  $(".content_body img").aeImageResize({ height: 620, width: 620 }); //img show on main body
  $(".item_li img").aeImageResize({ height: 120, width: 120 }); //product image
  //
});
</script>
</head> 
<body> 
<div class="container">
  <div id="top_banner">
    <%= play_flash asset_path("flash/top_banner.swf"), :width => '985', :height => '249' %>
  </div>
  <div class="top_banner_flip" style="color:#fff;background:#ff448f;padding:5px;">欢迎您，来自中国.成都的用户!</div>

<div class="header">
<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="23%" rowspan="4">
      <img src="/assets/a_logo.jpg" width="320px" alt="欧美龙-国际洗涤连锁" longdesc="http://www.omero-china.com" /></td>
    <% if is_ie? %>
      <td width="77%" height="40" align="right">
    <% else %>
     <td width="77%" height="70" align="right">
    <% end %>
      <span>
        <%= render 'devise/menu/registration_items' %>&nbsp;&nbsp;&nbsp;
        <%= render 'devise/menu/login_items' %>&nbsp;&nbsp;&nbsp;
        <%= link_to '联系我们', '/pages/about:address' %>
      </span>
    </td>
  </tr>
  <tr>
    <% if is_ie? %>
      <td align="left" valign="top" height="20">
    <% else %>
     <td align="left" valign="top" height="40">
    <% end %>
      <ul class="kwicks">
        <li id="kwick_1">
          <a class="top_menu_link" href="/pages/about:about_us">关于欧美龙
            <h3>About</h3>
          </a>
        </li>
      <li id="kwick_2">
      <a class="top_menu_link" href="/pages/join:join_standard">加盟政策
      <h3>Cooperation </h3>
      </a>
      </li>
      <li id="kwick_3">
      <a class="top_menu_link" href="/pages/ensure">保障体系
      <h3>Training</h3>
      </a>
      </li>
      <li id="kwick_4">
      <a class="top_menu_link" href="/shops">加盟店分布
       <h3>Branchs</h3>
      </a>
      </li>
      <li id="kwick_5">
      <a class="top_menu_link" href="/pages/product">产品中心
      <h3>Products</h3>
      </a>
      </li>
      <li id="kwick_6">
      <a class="top_menu_link" href="/pages/customer">我要洗衣
      <h3>Customer</h3>
      </a>
      </li>
      </ul>
    </td>
  </tr>
  <tr>
    <td align="left" valign="top">
      <div id="sub_menu">
      <ul class="sub_kwicks">
      <li id="sub_kwick_1" class="sub_kwick" style="display:block;">
      <a id='sub_a_2_0' class='sub_a' href='/pages/about:about_us'>背景介绍</a>
      <a id='sub_a_3_1' class='sub_a' href='/pages/about:culture'>企业文化</a>
      <a id='sub_a_4_2' class='sub_a' href='/pages/about:brand'>品牌定位</a>
      <a id='sub_a_5_3' class='sub_a' href='/pages/about:address'>公司地址</a>
      <a id='sub_a_6_4' class='sub_a' href='/pages/about:history'>发展历程</a>
      <a id='sub_a_7_5' class='sub_a' href='/pages/about:honor'>资质荣誉</a>
      <a id='sub_a_8_6' class='sub_a' href='/pages/about:vision'>总部风采</a>
      <a id='sub_a_9_7' class='sub_a' href='/pages/about:career'>人才招聘</a>
      </li>
      <li id="sub_kwick_2" class="sub_kwick">
      <a id='sub_a_11_0' class='sub_a' href='/pages/join:join_standard'>加盟标准</a>
      <a id='sub_a_12_1' class='sub_a' href='/pages/join:join_process'>加盟流程</a>
      <a id='sub_a_13_2' class='sub_a' href='/pages/join:join_franchise'>特许经营</a>
      <a id='sub_a_14_3' class='sub_a' href='/pages/join:join_advantage'>特许优势</a>
      <a id='sub_a_15_4' class='sub_a' href='/pages/join:join_support'>总部支持</a>
      <a id='sub_a_16_5' class='sub_a' href='/pages/join:join_service'>服务特色</a>
      <a id='sub_a_17_6' class='sub_a' href='/pages/join:about_laundry'>行业分析</a>
      <a id='sub_a_18_7' class='sub_a' href='/pages/join:quora'>问题解答</a>
      </li>
      <li id="sub_kwick_3" class="sub_kwick">
      <a id='sub_a_20_0' class='sub_a' href='/pages/ensure:branch_store_system'>分店形象系统</a>
      <a id='sub_a_21_1' class='sub_a' href='/pages/ensure:join_investment'>投资回报</a>
      <a id='sub_a_22_2' class='sub_a' href='/pages/ensure:training'>技术培训</a>
      <a id='sub_a_23_3' class='sub_a' href='/pages/ensure:download'>资料下载</a>
      <a id='sub_a_24_4' class='sub_a' href='/pages/ensure:join_guide'>运营指导</a>
      <a id='sub_a_25_5' class='sub_a' href='/pages/ensure:after_sale_service'>售后服务</a>
      </li>
      <li id="sub_kwick_4" class="sub_kwick">
      <a id='sub_a_27_0' class='sub_a' href='/shops'>分店查询</a> <%#pages/stores:store_search%>
      <a id='sub_a_28_1' class='sub_a' href='/pages/stores:store_gallery'>分店展示</a>
      </li>
      <li id="sub_kwick_5" class="sub_kwick">
      <a id='sub_a_30_0' class='sub_a' href='/product_cates/1'>洗涤设备</a>
      <a id='sub_a_31_1' class='sub_a' href='/product_cates/2'>干洗用品</a>
      <a id='sub_a_32_2' class='sub_a' href='/product_cates/3'>水洗用品</a>
      <a id='sub_a_33_3' class='sub_a' href='/product_cates/4'>辅助设备</a>
      <a id='sub_a_34_4' class='sub_a' href='/product_cates/5'>家用化工</a>
      <a id='sub_a_35_5' class='sub_a' href='/product_cates/6'>皮衣保养</a>
      </li>
      <li id="sub_kwick_6" class="sub_kwick">
      <a id='sub_a_37_0' class='sub_a' href='/pages/customer:store_search'>分店查询</a>
      <a id='sub_a_38_1' class='sub_a' href='/pages/customer:store_news'>最新活动</a>
      <a id='sub_a_39_2' class='sub_a' href='/news_cates/?name=洗衣常识'>日化产品使用常识</a> <%#pages/customer:product_knowledge%>
      <a id='sub_a_40_3' class='sub_a' href='/pages/customer:laundry_knowledge'>洗衣常识</a>
      <a id='sub_a_41_4' class='sub_a' href='/pages/customer:online_order'>在线洗衣预约</a>
      </li>
      </ul>
      </div>
    </td>
  </tr>
<tr>
<td align="left" valign="top">&nbsp;
</td>
</tr>
</table>
<!-- end .header --></div>
<div class="main_top">
    <% if notice %><p class="notice"><%= notice %></p><% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
    <p id="nav_bar" class="font18">&nbsp;&nbsp;<%= yield :nav_bar %></p>

<!-- end .main_top --></div>

<div class="main"> 
  <%=image_tag asset_path("bg/b_02.gif") %>

<div class="content">
  <div class="content_body">
    <%=yield %>
    <br/>
  <!-- end .content_body --></div>
<!-- end .content --></div>
 <div class="sidebar1">
  <div class="sidebar1_body">
    <div class="box">
      <div id='slideshow'>
        <%=image_tag asset_path("slide_b_04.jpg")%>
        <%=image_tag asset_path("slide_b_01.jpg")%>
        <%=image_tag asset_path("slide_b_02.jpg")%>
        <%=image_tag asset_path("slide_b_03.jpg")%>
      </div>
    </div>

    <table id="side_table" width="100%" border="0" cellspacing="0" cellpadding="0">
      <% if @page %>
         <!--显示该页的所有子页-->
        <tr><td class="black_bg"><h3 class="title">+ <%= link_to @page.title, page_path(@page.id) %></h3></td></tr>
        <% Page.where(:parent_id => @page.id).each do |page| %>
           <tr><td><%= link_to page.title, page_path(page.id)%></td></tr>
        <% end %>
      <% end %>
      <%= yield :menu_side %>
      <%= yield :side_news %>
    </table>

    <div class="box">
      <div id='slideshow2'>
        <%=image_tag asset_path("side_banner0.jpg")%>
        <%=image_tag asset_path("side_banner1.jpg")%>
        <%=image_tag asset_path("side_banner2.jpg")%>
        <%=image_tag asset_path("side_banner3.jpg")%>
      </div>
    </div>

    <div class="box">
      <table>
      <tr><td colspan="2"><h3 class="title">欧美龙洗衣分店查询</h3></td></tr>
      <tr><td>
      <%= form_tag("/shops/", :method => "get") do %>
        <%=render :partial => "/shops/dropdown_region_city_district", :locals => {:style => 'no'} %>
        <%= image_submit_tag("btn_submit.jpg", :class => 'search_button') %>
      <% end %>
      </td><td>
        <%= image_tag("map_search2.jpg", :width => '140') %>
      </td></tr>
      </table>
    </div>
    <div class="box">
      <a href="#"><%= image_tag("kefu.gif", :width => '240') %></a>
    </div>

  </div>   
<!-- end .sidebar1 --></div>

<!-- end .main --> </div>
<div class="main_foot" style="margin-bottom: -8px;">
  <%=image_tag asset_path("bg/b_07.gif"), :width => "985" %>
<!-- end .main_foot --></div>
<div class="clearfloat">&nbsp;</div>

<div class="footer">
  <div class="footer_nav">
    <table width="100%" height="65" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="6%">&nbsp;</td>
        <td width="17%" valign="center" align="left">
          <h3 class="foot_title red">
            <% if @page %>
              <%= @page.title %>
            <% elsif request[:controller] =~ /shop/ %>
              加盟店查询
            <% elsif request[:controller] =~ /product/ %>
              产品中心
            <% elsif request[:controller] =~ /news/ %>
              新闻中心
            <% else %>
              欧美龙
            <% end %>
           </h3>
        </td>
        <td width="52%" valign="bottom">
          <div class="foot_addr">
            <span class="foot_addr1">四川万邦欧美龙洗涤服务有限公司</span><span class="foot_addr2">OMERO INTERNATIONAL LAUNDRY CO.,LTD.</span><br/>
            <span class="foot_addr2">四川省成都市人民南路南延线天府大道新希望国际1栋1单元17楼8号.
            加盟热线：400-800-626 </span>
          </div>
        </td>
        <td width="25%" valign="bottom"><%=render :partial => "layouts/bshare" %></td>
      </tr>
    </table>
  </div>
  <div class="footer_map">
    <%=image_tag asset_path("bg/b_100.gif"), :width => "985" %>
    <%= render :partial => 'layouts/site_map' %>
<!-- end .footer_map --></div>
<!-- end .footer --></div>
<!-- end .container --></div>
</body>
</html>
