<% title "门店查询" %>

<% content_for :menu_side do %>
  <%=image_tag asset_path("menu_side_search.jpg") %>
<% end %>


<p>
  <b><%= @shop.name %></b>
</p>

<p>
  <b>地址:</b>
  <%= @shop.region.name %> <%= @shop.city.name %><%= @shop.district.name %> <%= @shop.short_address %>
</p>

<p>
  <b>电话:</b>
  <%= @shop.tel_phone %>
</p>

<p>
  <b>手机:</b>
  <%= @shop.mobile_phone %>
</p>

<p>
  <b>传真:</b>
  <%= @shop.fax %>
</p>

<p>
  <b>Email:</b>
  <%= @shop.email %>
</p>

<p>
  <b>QQ:</b>
  <%= @shop.qq %>
</p>

<p>
  <b>公交路线:</b>
  <%= @shop.bus_list %>
</p>

<p>
  <b>分店描述:</b>
  <%= simple_format @shop.description %>
</p>

<iframe src="/home/location?shop_ids=<%= [@shop.id] %>" width="100%" height="450px" scrolling="no"></iframe>
