<%# encoding: utf-8 %>

<div class="main_corner">
<%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
<div class="content">
<h2 style='font-size: 24px; font-weight: 600; padding: 20px 0; border-bottom: dotted 2px #333;'>
      修改基本信息
</h2>


<%= form_for(@customer) do |f| %>
  <% if @customer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@customer.errors.count, "error") %> prohibited this customer from being saved:</h2>

      <ul>
      <% @customer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name,'用户名：*' %><br />
    <%= f.text_field :name %>
    <div class="tips">4~16个字符，纯数字用户名无效，推荐使用中文用户名。用户名注册后不可更改。</div>
  </div>
  <div class="field">
    <%= f.label :sex, "性别：" %>
    <%= f.radio_button :sex, '女'%> 女
    <%= f.radio_button :sex, '男'%> 男
  </div>
  <div class="field">
    <%= f.label :birth, "出生日期：" %><br />
    <%= f.date_select :birth %>
  </div>
  <div class="field">
    <%= f.label :phone, "联系电话：" %><br />
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label :email, "电子邮件：*" %><br />
    <%= f.text_field :email %>
    <div class="tips">输入你的电子邮件地址，将方便你在忘记密码时找回密码</div>
  </div>
  <div class="actions">
    <%= f.submit "修 改" %>
  </div>
<% end %>

<%= link_to '返回', @customer %>

</div>
<%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>