<% title "产品中心" %>
<%content_for :side_bar do %>
  <table>
    <tr>
      <th colspan="3">产品分类列表</th>
    </tr>

  <% @product_cates.each do |product_cate| %>
    <tr>
      <th><%= product_cate.name %></th>
      <td>（<%=product_cate.product_items.size || '0'%>）件</td>
      <td><%= link_to '查看所有', product_cate %></td>
    </tr>
  <% end %>
</table>
<% end %>


<style>
/**list layout**/
  *{padding:0; margin:0; list-style:none; text-decoration:none;}
  .box{width:100%; overflow:hidden;}
  .item_li{float:left; margin-right:20px; margin-bottom:60px; width:200px; height:160px; display:block;}
/**图片大图tips预览效果**/
#tip   {position:absolute;color:#333;display:none;}
#tip s   {position:absolute;top:40px;left:-20px;display:block;width:0px;height:0px;font-size:0px;line-height:0px;border-color:transparent #BBA transparent transparent;border-style:dashed solid dashed dashed;border-width:10px;}
#tip s i   {position:absolute;top:-10px;left:-8px;display:block;width:0px;height:0px;font-size:0px;line-height:0px;border-color:transparent #fff transparent transparent;border-style:dashed solid dashed dashed;border-width:10px;}
#tip .t_box   {position:relative;background-color:#CCC;filter:alpha(opacity=50);-moz-opacity:0.5;bottom:-3px;right:-3px;}
#tip .t_box div  {position:relative;background-color:#FFF;border:1px solid #ACA899;background:#FFF;padding:1px;top:-3px;left:-3px;}

/************************************************************************************
将图片设置为背景，以得到边框圆滑的效果
*************************************************************************************/
.image-wrap {
  margin-right: 10px;
}
.box {
  margin: 0 0 50px;
  border-top: solid 1px #b8b8b8;
}
/************************************************************************************
NORMAL
*************************************************************************************/
.normal img {
  border: solid 5px #eee;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  -moz-box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
  box-shadow: inset 0 1px 5px rgba(0,0,0,.5);
}

/************************************************************************************
CIRCLE
*************************************************************************************/
.circle .image-wrap {
  -webkit-border-radius: 20em;
  -moz-border-radius: 20em;
  border-radius: 20em;
}
</style>

<script type="text/javascript">
$(document).ready(function(){
   //图片大图tips预览效果
   $('.tip').mouseover(function(){
      var $tip=$('<div id="tip"><div class="t_box"><div><s><i></i></s><img src="'+this.src+'" width="400px"/></div></div></div>');
      $('body').append($tip);
      $('#tip').show('fast');
   }).mouseout(function(){
      $('#tip').remove();
   }).mousemove(function(e){
      $('#tip').css({"top":(e.pageY-60)+"px","left":(e.pageX+30)+"px"})
   })

   //将图片设置为背景，以得到边框圆滑的效果
  $("#demo img").load(function() {
    $(this).wrap(function(){
      return '<span class="image-wrap ' + $(this).attr('class') + '" style="position:relative; display:inline-block; background:url(' + $(this).attr('src') + ') no-repeat center center; width: ' + $(this).width() + 'px; height: ' + $(this).height() + 'px;" />';
    });
    $(this).css("opacity","0");
  });
})
</script>

<div class="box normal">
<table>
<% @product_cates.each do |product_cate| %>
  <tr><td>
    <h2><%= link_to product_cate.name, product_cate_path(product_cate.id) %></h2><ul>
    <% product_cate.product_items.limit(8).each do |item|%>
      <li class="item_li"><%= link_to image_tag((item.image_path || asset_path("product.jpg")), :height =>"160px", :class => 'tip'), product_item_path(item.id)%>
      <p class="product_title"><%= link_to item.title.truncate(20), product_item_path(item.id), :style => "color:#ff448f"%></p>
      </li>
    <% end %>
  </td></tr>
<% end %>
</table></div>
