<% title @product_cate.name %>
<% meta_keywords "欧美龙洗衣产品中心" %>
<% meta_description "欧美龙洗衣产品中心"%>
<% nav_bar [['首页', '/'],['产品中心', '/product_cates'], [@product_cate.name, '/product_cates/'+ @product_cate.id.to_s]] %>
<% side_news "产品中心" %>
<% side_nav @product_cate.name, 'product'%>

<% recent_product_items = ProductCate.recent(24, cate = @product_cate.id) %>
<table width="98%" border="0" cellspacing="0" cellpadding="0" background-color = "#fff">
 <tr>
   <td width="<%= is_ie? ? '180' : '350'%>" align="left" valign="top">
<div class="product_list">
    <h3>+ 洗涤产品列表</h3>
    <ul>
    <% recent_product_items.each_with_index do |item, index|%>
      <% break if index > 19 %>
      <li class="item_li">
        <%= link_to image_tag((item.image_path || asset_path("product.jpg")), :class => 'item_img'), product_item_path(item.id)%>
        
      </li>
    <% end %>
    </ul>
    <br/><br/>
</div>    
   </td>
   <td width="5">&nbsp;</td>
   <td align="left" valign="top">

<div id="product_main_show">
  <%=image_tag asset_path("show_06.jpg"), :width =>'463px' %>
  <div class="content">
  <h1>产品中心</h1>
  <hr class="black"/>
  <% (0..1).each_with_index do |index| %>
    <div class="item">
      <div class="main_product_image" style="width:400px; height: 220px;">
        <%= link_to image_tag((recent_product_items[index].image_path || asset_path("product.jpg")), :width => "400px"), product_item_path(recent_product_items[index]) %></div>
      <h4><span class="toto"></span><%= link_to recent_product_items[index].title, product_item_path(recent_product_items[index]) %></h4>
      <div clas="description">
        <%=strip_tags(recent_product_items[index].description.to_s.truncate(120))%>
        <%=link_to "查看详情>>", product_item_path(recent_product_items[index]) %>
      </div>
    </div>
  <% end %>

  <table width="96%">
  <tr><td width="50%" align="left" valign="top">
    <div class="main_product_image"  style="width:200px; height: 120px; margin-right: 10px;">
      <%=link_to image_tag((recent_product_items[2].image_path || asset_path("product.jpg")), :width => "200px"), product_item_path(recent_product_items[2]) %>
    </div>
  </td><td align="left" valign="top">
    <div class="main_product_image" style="width:200px; height: 120px;">
      <%=link_to image_tag((recent_product_items[3].image_path || asset_path("product.jpg")), :width => "200px"), product_item_path(recent_product_items[3]) %>
    </div>
  </td></tr>
  <tr><td>
     <h4><span class="toto"></span><%=link_to recent_product_items[2].title, product_item_path(recent_product_items[2])%></h4>
    </td><td>
     <h4><span class="toto"></span><%=link_to recent_product_items[3].title, product_item_path(recent_product_items[3])%></h4>
  </td></tr>
  <tr><td>
      <%= strip_tags(recent_product_items[2].description.to_s.gsub(/&nbsp;/, '')).truncate(120) %>
      <%=link_to "查看详情>>", product_item_path(recent_product_items[2]) %>
    </td><td>
      <%= strip_tags(recent_product_items[3].description.to_s.gsub(/&nbsp;/, '')).truncate(120) %>
      <%=link_to "查看详情>>", product_item_path(recent_product_items[3]) %>
  </td></tr>

  </table>

</div>
<%=image_tag asset_path("show_08.jpg"), :width =>'463px' %>
</div>

   </td>
    <td width="10">&nbsp;</td>
 </tr>
</table>
