<% title "新闻中心" %>
<% meta_keywords "欧美龙洗衣新闻中心" %>
<% meta_description "欧美龙洗衣新闻中心"%>
<% nav_bar [['首页', '/'],['新闻中心', '/news_items']] %>
<% side_news "新闻" %>
<% side_nav "新闻", 'news' %>

<% if params[:search] %>
  <div class="news_list corner_box">
    搜索关键词<span style="color:#cc0000;"><%=params[:search] %></span>的结果显示如下：
  </div>
<% end %>
<div class="news_list corner_box">
    <ul>
    <% @news_items.each do |news_item| %>
      <li>
       <h2><%= link_to news_item.title, news_item_path(news_item), :class=> 'news_title' %></h2>
      
      <div class="news_content">
        <%= strip_tags(news_item.body.gsub(/&nbsp;/, '')).truncate(120) %>
        <%= link_to ">>>查看详情", news_item_path(news_item), :class=> 'news_title' %>
      </div>
      </li>
    <% end %>
    </ul>
</div>

<div class='apple_pagination'>
  <%= will_paginate :next_label => "下一页", :prev_label => "上一页" %>
</div>