<% title @news_item.title %>
<% meta_keywords @news_item.title %>
<% meta_description [@news_item.title, '---四川万邦欧美龙洗涤有限公司的欧美龙洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%，加盟热线：4000-300-389'].join %>
<% nav_bar [['首页', '/'],['新闻中心', '/news_items'],[@news_item.news_cate.name, '/news_cates/'+ @news_item.news_cate.id.to_s]] %>
<% side_news @news_item.news_cate.name %>
<% side_nav @news_item.news_cate.name, 'news' %>

<div class="main_corner">
  <%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
  <div class="content">
	<h1>
	  <%= @news_item.title %>
	</h1>
	<br/>
	<hr class="black"/>

	<div id="news_content">
	  <% unless @news_item.image_path.blank? %><div class="news_img"><%= image_tag @news_item.image_path %></div><% end %>
	  <%= simple_format @news_item.body unless @news_item.body.blank? %>
	</div>
	
	<br/>
	<hr class="black"/>
	<%= link_to '返回', news_items_path %>
  </div>
  <%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>