<%=render :partial => "layouts/slide_show2", :locals => {:img_arr =>['jiameng.jpg', 'liucheng_2.jpg', 'autoservici.gif', 'xiyiji.jpg', 'laundry.jpg', 'xiyiji_2.jpg', 'xiyiji1.jpg']} %>

<div class="section">
    <h3><span class="toto">&nbsp;</span>欧美为您提供的保障</h3>
    
    <div class="summary">
      <ul>
        <li>免费培训：全国培训免费学习，开业后长期技术支持；</li>   
        <li>设备维修：提供24小时电话及上门维修服务，随叫随到；</li>       
        <li>各项奖励：由总公司提供的荣耀称号及相应的奖金、实物奖励；</li>       
        <li>促销支持：实用完全促销方案，经验丰富企划人员随需应变，全程指导；</li>        
        <li>公共关系：作为重点扶持的创业项目，欧美龙在经营过程中，会得到工商、税务、小区物业、街道各方面的支持，在管理，宣传、推广方面获得相应的帮助。</li>
        <li>疑难问题：资深技师长提供技术咨询及疑难织物洗护服务；</li>       
        <li>推广宣传：品牌与单店个案宣传长期系列报道；</li>        
        <li>顾客支持：爱心工程，可获得团购企业及普通消费者的大力支持。</li>       
      </ul>
    </div>
</div>

<div class="section">
    <%=image_tag asset_path("slider/coin16.gif"), :alt => "欧美龙洗衣" %>
    <h3><span class="toto">&nbsp;</span>投资回报</h3>
    
    <div class="summary">欧美龙总部通过对我国市场的全面调查分析，制定了全套适合中国连锁加盟发展的全新战略。投资者可根据自己的资金能力、市场环境、消费水平、区域特征等因素，确定加盟，以期获得长效丰厚回报。 <a href="/pages/ensure:join_investment">查看全文&gt;&gt;</a></div>
</div>

<table width="100%" border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td width="31%">
     <%=image_tag asset_path("slider/coin14.gif"), :width => "400", :alt => "欧美龙洗衣" %>
    </td>
    <td width="69%" align="left" valign="top">
      <div style="padding:0 0 0 20px">
        <h3>特许经营</h3>
        <div class="summary">欧美龙干洗培训中心拥有专业资深的培训讲师，正规的培训教室及大量的培训教具。<br/>在几年的培训实 践中，我们始终贯彻"专业洗涤是干洗之魂"的思想，为欧美龙干洗连锁培训学员上万人，这些学员遍 布全国，以精湛的技术、一流的服务，树立了欧美龙干洗的形象，创立了欧美龙干洗品牌。 <a href="/pages/ensure:training">查看全文&gt;&gt;</a>
        </div>
      </div>
    </td>
  </tr>
</table>

<div class="section">
<h3>相关新闻</h3>
  <ul>
  <%
    news_cate = NewsCate.find_by_name("保障体系")
    cate_id = news_cate.nil? ? 0 : news_cate.id
    news_items = NewsItem.recent(10, cate_id)
    news_items.each_with_index do |item, index| %>
      <li><a class='gray' href='/news_items/<%=item.id%>' target='_blank'><%=item.title.truncate(16)%></a></li>
  <% end %>
  </ul>
</div>
