<% title "欧美龙" %>
<% meta_keywords "四川万邦欧美龙洗涤有限公司, 四川干洗连锁加盟，四川洗衣连锁品牌，四川洗衣加盟店,四川加盟连锁,四川连锁加盟,欧美龙招商,四川干洗,四川干洗机,四川干洗店设备,四川洗衣店设备,四川干洗店加盟连锁,四川洗衣店加盟连锁"%>
<% meta_description "四川万邦欧美龙洗涤有限公司的欧美龙洗衣连锁为知名品牌,继承国际先进干洗设备和管理模式,成为目前中国中高端的干洗连锁加盟集团企业！覆盖互联网加盟干洗连锁创业项目人群的80%. 加盟热线：4000-300-389" %>
<% content_for :banner do %>
<div id="banner">
  <div id="banner1" class="banner">
    <%# image_tag asset_path("1_08.jpg"), :width => "980", :alt => "欧美龙洗衣连锁" %>
    <%= render :partial => "layouts/index_banner" %>
    <div class="border_black_2_img">&nbsp;</div>
  </div>
  <div id="banner2" style="margin-top: -10px;">
    <%# image_tag asset_path("1_10.jpg"), :width => "960", :alt => "欧美龙洗衣连锁" %>
    <table width="100%" border="0"><tr>
      <td width="12px">&nbsp;</td>
      <td height="350" valign="middle">
        <a href="/pages/12" target="_blank"><%= image_tag asset_path("1_10-3-1.png"), :alt => "欧美龙洗衣连锁" %></a></td>
      <td width="12px">&nbsp;</td>
      <td>
        <a href="/pages/topic_ad1" target="_blank"><%= image_tag asset_path("1_10-3-2.png"), :alt => "欧美龙洗衣连锁" %></a></td>
      <td width="12px">&nbsp;</td>
      <td><a href="/pages/about:address" target="_blank"><%= image_tag asset_path("1_10-3-3.png"), :alt => "欧美龙洗衣连锁" %></a></td>
      <td width="12px">&nbsp;</td>
    </tr></table>
    <div class="border_black_2_img">&nbsp;</div>
  </div>
</div>
<% end %>
<% content_for :side_bar do %>
  <div class="corner_white">
   <%=image_tag asset_path("3_07.jpg"), :width => "250", :height => "14"%>
    <div class="bg_white">
        <div id="side_news_list" class="black_bg_raw">
          <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span>公司新闻</h2>
          <ul>
          <% NewsItem.recent(7, 13, false).each_with_index do |item, index| %>
              <li><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(18), news_item_path(item.id) %></li>
          <% end %>
          </ul>
         
       </div>
        <div class="more_red"> <%= link_to "更多>>",news_cate_path(@news_cate_gundong.id), :style => "color: #cc0000" %></div>
        <% @news_cate_about.news_items.order("sort_id DESC").limit(2).each_with_index do |item, index| %>
          <div> <br/>
            <div class="side_news_image">
              <h2 style="margin:0; padding: 0;"><span class="toto">&nbsp;</span><%= link_to item.title.truncate(17), news_items_path(item)%></h2>
              <%=image_tag asset_path("side_news_image#{index+1}.png"), :width => "135" %> 
              &nbsp;&nbsp;&nbsp;&nbsp;
              <%= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(80) %>
            </div>
            <div class="more_red"> <%= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %></div>
          </div>
        <% end %>
        <% @news_cate_gundong.news_items.order("sort_id DESC").limit(1).each_with_index do |item, index| %>
          <div> <br/>
            <div class="side_news_image">
              <h2 style="margin:0; padding: 0;"><span class="toto">&nbsp;</span><%= link_to item.title.truncate(17), news_item_path(item)%></h2>
              <%=image_tag asset_path("side_news_image#{index}.jpg"), :width => "135" %> 
              &nbsp;&nbsp;&nbsp;&nbsp;<%= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(80) %>
            </div>
            <div class="more_red"> <%= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %></div>
          </div>
        <% end %>
     <!-- end .bg_white --></div>
    <%=image_tag asset_path("3_11.jpg"), :width => "250", :height => "14"%>
   <!-- end .corner_white --></div>
<% end %>
<div>  
<%=render :partial => "layouts/slide_show1" %>
 <div class="slider_index_right">
   <div style="margin:0 0 0 40px;padding: 6px; color: #ffffff; font-size: 16px; font-weight: 600;">
    <div style="margin: 0 0 0 -50px;"><%=image_tag asset_path("ico-sj.gif") %></div>
    OMERO<BR/>
    International<br/>
    Laundry<br/>
    Union<br/>
   </div>
  </div>
</div>
<br/>
 <div style="margin:0; padding: 0;">
  
      <table width="670" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <td width="233" align="left" valign="top" class="right_border">
          <div style="margin:0; padding:0 10px 0 0;">
       
           <div class="corner_white">
           <%=image_tag asset_path("3_07.jpg"), :width => "220", :height => "15"%>
           <div class="bg_white" style="margin-left: -2px;">
              <div class="no_border"></div>
                 <div class="news_list2">
                   <h2 style="margin:0; padding: 0; color: #cc0000"><span class="toto">&nbsp;</span>新闻中心</h2>
                   <ul>
                     <% NewsItem.recent(11, 18).each_with_index do |item, index| %>
                      <li class="square"><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(15), news_item_path(item.id) %></li>
                      <% end %>
                    </ul>
                    <br/>
                 </div>
                <span class="more_black"><%=link_to "更多>>", news_cate_path(18), :style => "color:#cc0000" %></span>  
              <!-- end .white_corner --></div>
            <div style="margin: -6px 0 0 1px;"><%=image_tag asset_path("3_11.jpg"), :width => "220", :height => "14"%></div>
           </div>
           <div class="corner_white">
           <%=image_tag asset_path("3_07.jpg"), :width => "220", :height => "15"%>
           <div class="bg_white" style="margin-left: -2px;">
              <div class="no_border"></div>
      
                <!---->
     <!--            <%# NewsItem.recent(1, @news_cate_gundong.id, true).each_with_index do |item, index| %>
                  <div style="margin;0; padding:14px 0; border-top: dotted 1px #ccc;">
                     <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%#= link_to "#{item.title.truncate(14)}", news_item_path(item), :class=> 'news_title', :style => "color: #cc0000;" %></h2>
                    <div style="margin:0; padding: 0 0 0 14px">
                      <%#= strip_tags(item.body.to_s.gsub(/&nbsp;/, '')).truncate(64) %>
                      <%#= link_to "查看全文>>", news_item_path(item), :style => "color: #cc0000" %>
                    </div>
                  </div>
                <%# end %>  -->
 
                <script type="text/javascript">
                  $(function(){
                      //scroll news on pages/index
                    //$("#scrollNews").Scroll({line:4,speed:800,timer:3000});
                    //$(".scroll_news_list1").vTicker();
                    $(".scroll_side_news").vTicker(
                            { 
                                speed: 500,
                                pause: 3000,
                                animation: 'fade',
                                mousePause: false,
                                showItems: 4
                              }
                    );
                  });
                </script> 
                <h2 style="margin:0 0 10px 0; padding: 0; color: #cc0000"><span class="toto">&nbsp;</span>最新开业信息</h2>
                <div id="scrollNews3" class="scroll_side_news">
                    <ul>
                    <% NewsItem.recent(16, @news_cate_gundong.id, true).each_with_index do |item, index| %>
                      <li class="square"><%=image_tag asset_path("li_sq_black.gif") %><%=link_to item.title.truncate(14), news_item_path(item.id) %></li>
                    <% end %>
                  </ul>
                </div>
                 <span class="more_black"><%=link_to "更多>>", news_cate_path(@news_cate_about.id), :style => "color:#cc0000" %></span> 
           <!-- end .white_corner --></div>
            <div style="margin: -6px 0 0 1px;"><%=image_tag asset_path("3_11.jpg"), :width => "210", :height => "14"%></div>
           </div>
        </td>
        <td width="233" align="left" valign="top" class="right_border">
          <div style="margin:0; padding:0 10px;">
            <h2 style="margin:0; padding:0 0 6px 0;"><span class="toto">&nbsp;</span>洗涤常识</h2>
            <a href="/news_cates/11" target="_blank"><%=image_tag asset_path("7_0.jpg"), :width => "203", :height => "130"%></a>
            <% @news_cate_xiyichangshi.news_items.order("sort_id DESC").limit(2).each_with_index do |item, index| %>
              <div style="margin;0; padding:12px 0; border-top: dotted 1px #ccc;">
               <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%= link_to "#{item.title.truncate(16)}", news_item_path(item), :class=> 'news_title' %></h2>
               <div style="margin:0; padding:0;">
                  <%= strip_tags(item.body.to_s).gsub(/　　+| +|\n|\s|\t/, ' ').truncate(100) %><BR/>
                  <span class="more_black"><%= link_to "查看全文>>", news_item_path(item) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </td>
        <td width="233" align="left" valign="top">
          <div style="margin:0; padding:0 0 0 10px;">
            <h2 style="margin:0; padding:0 0 6px 0;"><span class="toto">&nbsp;</span>干洗知识</h2>
            <a href="/news_cates/4" target="_blank"><%=image_tag asset_path("7_1.jpg"), :width => "203", :height => "130"%></a>
            <% @news_cate_ganxizhishi.news_items.order("sort_id DESC").limit(2).each_with_index do |item, index| %>
              <div style="margin;0; padding:12px 0; border-top: dotted 1px #ccc;">
               <h2 style="margin:0; padding:0;"><span class="toto">&nbsp;</span><%= link_to "#{item.title.truncate(15)}", news_item_path(item), :class=> 'news_title' %></h2>
               <div style="margin:0; padding:0;">
                  <%= strip_tags(item.body.to_s).gsub(/　　+| +|\n|\s|\t/, ' ').truncate(100) %><BR/>
                  <span class="more_black"><%= link_to "查看全文>>", news_item_path(item) %></span>
                </div>
              </div>
            <% end %>
          </div>
        </td>
      </tr>
    </table>
      
     </div>