<% title @page.title %>
<% meta_keywords @page.meta_keywords %>
<% meta_description @page.meta_description %>
<% nav_bar [['首页', '/'],[@page.title, '/pages/'+ @page.path_name]] %>
<% side_news @page.title %>
<% side_nav @page.title, 'page' %>

<div id="page">
  <%=image_tag asset_path("show_06.jpg") %>
  <div class="content">
  	<h2><%= @page.title %></h2>
      <% case @page.path_name%>
      <% when 'about:address' %>
        <iframe src="/home/location" width="100%" height="500px" scrolling="no"></iframe>
      <% when 'join' %>
        <%= render :partial => "pages/join" %>
      <% when 'ensure' %>
        <%= render :partial => "pages/baozhang" %>
      <% when 'customer' %>
        <%= render :partial => "pages/customer" %>
      <% else %>

      <% end %>
      <%= @page.body.html_safe unless @page.body.blank?%>
  </div>
   <%=image_tag asset_path("show_08.jpg") %>
</div>