<% title @page.title %>
<% meta_keywords @page.meta_keywords %>
<% meta_description @page.meta_description %>
<% nav_bar [['首页', '/pages'],[@page.title, '/pages/'+ @page.path_name]] %>
<% side_news @page.title %>
<% side_nav @page.title, 'page' %>

<div class="main_corner">
  <%=image_tag asset_path("show_06.jpg"), :width =>'660px' %>
  <div class="content">
  	  <h2 style='font-size: 24px; font-weight: 600; padding: 20px 0; border-bottom: dotted 2px #333;'><%=@page.title %></h2>
      
      <% case @page.path_name%>
      <% when 'about:address' %>
        <iframe src="/home/location" width="98%" height="500px" scrolling="no"></iframe>
      <%# when 'join' %>
        <%#= render :partial => "pages/join" %>
      <%# when 'ensure' %>
        <%# render :partial => "pages/baozhang" %>
      <% when 'customer' %>
        <%= render :partial => "pages/customer" %>
      <%# when 'stores:store_gallery' %>
        <%# render :partial => "pages/store_one" %>
      <% else %>
      

      <% end %>
      <%= @page.body.html_safe unless @page.body.blank?%>
  </div>
   <%=image_tag asset_path("show_08.jpg"), :width =>'660px' %>
</div>